*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
}

.main-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(nubes.jpg);
}

.weather-info {
  color: black;
  width: 30vw;
  height: 65vh;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.location{
  display: flex;
  justify-content: center;
  text-align:  center;
  flex-wrap:  wrap;
  height: 10rem;
}

.location p{
  width: 100%;
  padding: 0.5rem;
}

.location .city {
  font-weight: 600;
  font-size: 1.7rem;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.moreInfo{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.moreInfo .re-co {
  width: 100%;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: bold;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:  wrap;
}

.img img{
  width: 5rem;
}


.img p{
  font-style: italic;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0;
  width: 100%;
}

.moreInfo .country{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.moreInfo .date{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.img .temp {
  font-size: 5rem;
}

.img .hum{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img button {
  margin-top: 1rem;
  width: 7rem;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  border-radius: 3rem;
  background-color: #7DEDFF;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 800px) {
  .weather-info{
    width: 80vw;
    height: 55vh;
  }
}


